<div class="box-header">
	<h3 class="box-title">
		<i class="fa " [ngClass]="config.header.icon"></i>
		<span>{{config.header.boxtitle}}</span>
	</h3>
	
<!-- 	<div class="box-tools pull-right"> -->
<!-- 		<button type="button" class="btn btn-box-tool" data-widget="collapse" *ngIf="config.header.minimizavel" title="Minimizar" data-toggle="tooltip"> -->
<!-- 			<i class="fa fa-minus"></i> -->
<!-- 		</button> -->
<!-- 		<div class="btn-group" *ngIf="config.header.ajuda" title="{{config.labels.ajuda}}" data-toggle="tooltip"> -->
<!-- 			<button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-ajuda-{{config.id}}" ng-click="onAjuda()"> -->
<!-- 				<i class="fa fa-question"></i> -->
<!-- 			</button> -->
<!-- 		</div> -->
<!-- 		<div class="btn-group" ng-show="config.header.configuravel"> -->
<!-- 			<button type="button" class="btn btn-box-tool dropdown-toggle" title="Configurar" data-toggle="tooltip"> -->
<!-- 				<i class="fa fa-wrench"></i> -->
<!-- 			</button> -->
<!-- 			<ul class="dropdown-menu" role="menu" ng-transclude ></ul> -->
<!-- 		</div> -->
<!-- 		<button type="button" class="btn btn-box-tool" data-widget="remove" ng-click="removerWidget($index)" ng-show="config.header.fechavel" title="Fechar" data-toggle="tooltip"> -->
<!-- 			<i class="fa fa-times"></i> -->
<!-- 		</button> -->
<!-- 	</div> -->
</div>