.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: fixed;
    width:100%;
    z-index: 500000;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.loader-img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -60px; /* -1 * image width / 2 */
    margin-top: -60px; /* -1 * image height / 2 */
    width:100%;
}