<div class="bs-page box box-primary">

  <bs-header-widget></bs-header-widget>

  <div class="box-body">
    <p>
      <a (click)="call()" class="btn btn-default btn-flat">Buscar</a>
    
      <a (click)="callError(401)" class="btn btn-default btn-flat">Buscar Error 401</a>
    
      <a (click)="callError(403)" class="btn btn-default btn-flat">Buscar Error 403</a>
    </p>

  </div>

</div>

