<div class="login-box" *ngIf="!isSSO()">
  <div class="login-logo">
    <b>CONAPE</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
		<p class="login-box-msg">ENTRADA</p>
		 <alert-message [messagesError]="messagesError"></alert-message>
	<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate accept-charset="UTF-8">
	      <div class="form-group has-feedback">
	        <input type="text" class="form-control" name="username" placeholder="{{app.login.user}}" [(ngModel)]="model.username" #username="ngModel" required>
	        <span class="glyphicon glyphicon-user form-control-feedback"></span>
	      </div>
	      <div class="form-group has-feedback">
	        <input type="password" class="form-control" placeholder="{{app.login.password}}" name="password" [(ngModel)]="model.password" #password="ngModel" required >
	        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	      </div>
	      <div class="row">
	      	<div class="col-xs-8">
	        </div>
	        <div class="col-xs-4">
	          <button [disabled]="loading || !f.form.valid" class="btn btn-primary" (click)="login()">{{app.login.signin}}</button>
	        </div>
	        <!-- /.col -->
	      </div>
   </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

