<!doctype html>
<html lang="en">

<head>
	<base href="/">
	<!-- Define o icone da aplicacao -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Informa o browser para ser responsive ao tamanho da tela  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>{{app.id}} - {{app.name}}</title>

	<!-- esta sendo importado no angular cli -->
	<script src="assets/lib/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="assets/bootstrap/js/bootstrap.js"></script>

	<!--Input Mask -->
	<script src="assets/adminLTE/plugins/input-mask/jquery.inputmask.js"></script>
	<script src="assets/adminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="assets/adminLTE/plugins/input-mask/jquery.inputmask.extensions.js"></script>

	<!-- Dante range picker -->
	<script src="assets/adminLTE/plugins/daterangepicker/moment.js"></script>
	<script src="assets/adminLTE/plugins/daterangepicker/daterangepicker.js"></script>

	<!--BootStrap Date Picker -->
	<script src="assets/adminLTE/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="assets/adminLTE/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>

	<!-- ChartJS  -->
	<script src="assets/lib/Chart.min.js"></script>

	<!-- Icheck para radio buttons e checkbox -->
	<script src="assets/adminLTE/plugins/iCheck/icheck.js"></script>

	<!-- AdminLTE App -->
	<script src="assets/adminLTE/js/app.js"></script>

	<script src="assets/lib/arquitetura-angular4.js"></script>
</head>

<app-root></app-root>

</html>