<div #alertMessages>
    <div class="alert alert-success alert-dismissable" *ngIf="messagesSuccess != null && messagesSuccess.length > 0">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onCloseMessageSuccess.emit()">&times;</a>
        <p *ngFor="let item of messagesSuccess">{{item}}</p>
    </div>
    
    <div class="alert alert-info alert-dismissable" *ngIf="messagesInfo != null && messagesInfo.length > 0">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onCloseMessageInfo.emit()">&times;</a>
        <p *ngFor="let item of messagesInfo">{{item}}</p>
    </div>
    
    <div class="alert alert-warning alert-dismissable" *ngIf="messagesWarning != null && messagesWarning.length > 0">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onCloseMessageWarning.emit()">&times;</a>
        <p *ngFor="let item of messagesWarning">{{item}}</p>
    </div>
    
    <div class="alert alert-danger alert-dismissable" *ngIf="messagesError != null && messagesError.length > 0">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onCloseMessageError.emit()">&times;</a>
        <p *ngFor="let item of messagesError">{{item}}</p>
    </div>
</div>