@CHARSET "UTF-8";

@media(min-width: 771px) {
	.info-usuario {
		padding-top: 0px !important; 
		padding-bottom: 0px !important;
	}
	
	.div-imagem-usuario {
		display: inline-block; 
		vertical-align: super;
	}
	
	.div-info-usuario {
		display: inline-block; 
		line-height: 15px;
	}
	
	.campo-pesquisa-dropdown-panel {
		width: 433px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 0px;
		border-color: #3c8dbc;
	}
	
	.rodape-texto-versao {
		text-align: right; 
		color: white;
	}
} 

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.campo-pesquisa {
	width: 100% !important;
	color: rgb(255, 255, 255);
}

.campo-pesquisa:focus {
	color: rgb(68, 68, 68);
}

.campo-pesquisa-div {
	float: left;
	margin-top: 8px;
	margin-bottom: 0px;
}

.campo-pesquisa-dropdown {
	background: rgba(255,255,255,0.2);
	border-color: transparent;
}

.campo-pesquisa-dropdown-panel {
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 0px;
		border-color: #3c8dbc;
}

.rodape-texto-versao {
	text-align: center; 
	color: white;
}

.titulo-cinza {
	color: #959595;
}

.table-hover > tbody > tr > td > a.acao {
  	display: none;
}

.table-hover > tbody > tr:hover > td > a.acao {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

div.paginacao-footer > ul.pagination {
	margin: 0px;
}

.selected {
	background-color:  #dff0d8;
}

.botao-somente-icone {
	width: 80px;
}

div.box-header:hover {
	background-color: rgba(60, 141, 188, 0.2);
	cursor: move;
}

.config-pane-open .box-body {
  	padding: 0;
}

.config-pane-open .config-pane {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.config-pane {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.config-pane {
	-webkit-transform: translate(101%, 0);
	-ms-transform: translate(101%, 0);
	-o-transform: translate(101%, 0);
	transform: translate(101%, 0);
	position: absolute;
	top: 40px;
	bottom: 0;
	width: 100%;
	background: #f9fafc;
	overflow: visible;
	border: 1px solid #d2d6de;
}

pre {
		
}

.invalid
{
    border: 1px solid red;
}

.obrigatorio:after {
	content: " *";
	color: red;
}

#divLoader {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.6);
}

.loader {
  position:absolute;
  top: 50%;
  left:50%;
  margin-left: -60px;
  margin-top: -60px;
  display: block;
  z-index:10000000;
}

.popover-custom {
	background-color: rgba(0, 0, 0, 0.9);
}

.popover-custom.top > .arrow::after {
	border-top-color: rgba(0, 0, 0, 0.9);
}

.popover-content {
	color: white;
}

.quantidade-detalhe {
	font-size: 20px;
	font-weight: bold;
}

.cor-periodo-anterior {
	color: rgba(65, 105, 225, 0.9);
}

.cor-periodo-atual {
	color: rgba(50, 205, 50, 0.9);
}

.tabela-detalhe-verificacoes > tbody> tr > td {
	padding-bottom: 0;
	padding-top: 0;
	vertical-align: middle;
}

.movimenta-periodo {
	position: absolute; 
	top: 30%;
}

.diferenca {
	font-size: 15px;
}

.diferenca-negativa {
	color: red;
}

.titulo-pedido {
	font-weight: bold;
	margin-bottom: 0px;
}

.total-pedido {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 0px;
}

.titulo-arquivo {
	font-weight: bold;
	margin-bottom: 0px;
}

.total-arquivo {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 0px;
}

.fundo-azul-bs {
	background-color: #3c8dbc;
}

.destaque-small-box {
	font-size: 20px;
	font-weight: bold;
}

.center-modal.modal:before {
   content: '';
   display: inline-block;
   height: 12%;
   vertical-align: middle;
}

.center-modal-lg > .modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

.alinhar-centro {
 	text-align: center;
 	vertical-align: middle !important;
}

.link:hover {
 	text-decoration: underline;
}

.col-xs-12-alterado {
	width: 100.8%;
}

.btn-redimensionador {
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
}